@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --font-placeholder: "Questrial", sans-serif;
  --font-slogan: "Pacifico", cursive;
  --color-button: #1a5445;
  --color-input: #e3e3e3;
  --color-placeholder: #a89d9d;
  --color-google: #df4b4b;
  --font-button-input: #ffffff;
  --font-link: #3b4ac9;
}
html,
body {
  height: 100%;
  margin: 0px;
}

body {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo p {
  margin-top: -3px;
  font-size: 20px;
  font-family: var(--font-slogan);
}

.input-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-login input {
  width: 65%;
  background-color: var(--color-input);
  border-radius: 25px;
  border-style: none;
  padding: 5px;
  margin-top: 8px;
}

.input-login input::placeholder {
  color: var(--color-placeholder);
  padding-left: 13px;
  font-family: var(--font-placeholder);
}

#warnUser {
  color: var(--color-google);
  display: flex;
  justify-content: center;
}

#warnNoExist {
  color: var(--color-google);
  display: flex;
  justify-content: center;
}

.button-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-placeholder);
  margin-top: 30px;
}

.button-sign button {
  width: 65%;
  background-color: var(--color-google);
  color: var(--font-button-input);
  border-radius: 25px;
  border-style: none;
  padding: 5px;
}

.button-sign button:first-child {
  background-color: var(--color-button);
}

.button-sign p {
  font-weight: bold;
  font-size: 20px;
}

.button-sign a {
  margin-top: 20px;
  color: var(--font-link);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

footer {
  position: absolute;
  margin-top: 10px;
  /* bottom: 0; */
  width: 100%;
  color: var(--color-input);
}

.footer-bar {
  width: 100%;
  background-color: var(--color-button);
  padding: 10px 0 5px 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
}

.footer-bar a {
  color: var(--color-input);
  text-decoration: none;
}

.footer-bar p {
  margin: 5px 0;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("img/fondo.png");
  }

  header {
    height: 500px;
  }

  .logo {
    position: absolute;
    left: 100px;
    right: 100px;
    top: 40px;
    /* bottom: 50%; */
    justify-content: center;
    background-color: var(--font-button-input);
    border-radius: 40px 40px 0 0;
  }

  .logo img {
    width: 400px;
  }

  .logo p {
    margin-top: -3px;
    font-size: 30px;
  }
  #formLogin {
    position: absolute;
    background-color: var(--font-button-input);
    font-size: 25px;
    top: 390px;
    bottom: 75px;
    left: 100px;
    right: 100px;
    border-radius: 0 0 40px 40px;
  }

  #formSignin {
    position: absolute;
    background-color: var(--font-button-input);
    font-size: 25px;
    top: 390px;
    bottom: 145px;
    left: 100px;
    right: 100px;
    border-radius: 0 0 40px 40px;
  }

  .input-login input {
    width: 50%;
    padding: 10px;
    border-radius: 18px;
  }

  input {
    font-size: 20px;
  }

  .input-login input::placeholder {
    padding-left: 13px;
  }

  .button-sign button {
    width: 50%;
    padding: 10px;
    font-size: 20px;
    border-radius: 18px;
  }

  .button-sign p {
    font-size: 25px;
  }

  .button-sign a {
    font-size: 22px;
  }

  footer {
    bottom: 0;
    top: 1000px;
  }

  .footer-bar {
    width: 100%;
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) {
  header {
    height: 300px;
  }

  .logo {
    position: absolute;
    left: 400px;
    right: 400px;
    top: 10px;
    bottom: 50%;
    justify-content: center;
    background-color: var(--font-button-input);
    border-radius: 40px 40px 0 0;
  }

  .logo img {
    width: 200px;
    margin-top: -45px;
  }

  .logo p {
    margin-top: -3px;
    font-size: 20px;
  }
  #formLogin {
    position: absolute;
    background-color: var(--font-button-input);
    font-size: 25px;
    left: 400px;
    right: 400px;
    border-radius: 0 0 40px 40px;
    margin-top: -75px;
  }

  #formSignin {
    position: absolute;
    background-color: var(--font-button-input);
    font-size: 25px;
    left: 400px;
    right: 400px;
    border-radius: 0 0 40px 40px;
    margin-top: -75px;
  }

  .input-login input {
    width: 70%;
  }

  input {
    font-size: 13px;
  }

  .input-login input::placeholder {
    padding-left: 10px;
  }

  .button-sign button {
    width: 70%;
    padding: 10px;
    font-size: 13px;
    border-radius: 18px;
  }

  .button-sign p {
    font-size: 15px;
  }

  .button-sign a {
    font-size: 15px;
  }

  .footer-bar {
    width: 100%;
    font-size: 15px;
  }

  .footer-bar {
    width: 100%;
  }
}
