@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --font-placeholder: "Questrial", sans-serif;
  --font-slogan: "Pacifico", cursive;
  --color-button: #1a5445;
  --color-input: #e3e3e3;
  --color-placeholder: #a89d9d;
  --color-google: #df4b4b;
  --font-button-input: #ffffff;
  --font-link: #3b4ac9;
}
html,
body {
  height: 100%;
  margin: 0px;
}

body {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo p {
  margin-top: -3px;
  font-size: 20px;
  font-family: var(--font-slogan);
}

.x1{
  position: absolute;
  width: 13px;
  height: 21px;
  left: 310px;
  top: 48px;
  font-family: Questrial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #000000; 
}

.form-post {
  justify-content: center;
  flex-direction: column;
  margin-top: 50%;
  padding: 0px 25px 0px 25px;
  align-items: center;
}

.place-post {
  background-color: var(--color-input);
  text-transform: capitalize;
  padding: 0px 25px 0px 25px;
  border-radius: 25px;
  margin-bottom: 25px;
  height: 25px;
  width: 200px;
  border-style: none;
}

.description-post{
  background-color: var(--color-input);
  text-transform: capitalize;
  white-space: initial;
  padding: 0px 25px 0px 25px;
  border-radius: 25px;
  margin-bottom: 25px;
  height: 100px;
  width: 200px;
  
  
}
.img-post.file{
  border-radius: 100px;
}

.img-post{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.logo p {
  margin-top: -3px;
  font-size: 20px;
  font-family: var(--font-slogan);
}

.file{
  font-size: 10px;
  border-radius: 25px;
  background-color: var(--color-input);
  padding: 10px 10px ;
  text-transform: uppercase;
  text-align: center;
  width: 125px;
  /* height: 100px; */
}
.send-Post{
  background-color: var(--color-button);
  color: var(--color-input);
  border-radius:25px;
  width: 250px;
  height: 40px;
}
#imgChosse{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#chosen{
  margin-left: 5px;
}

#imgPost2{
  width: 100px;
  height: 100px;
  
}
.logo-up{
  color: var(--color-button);
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}

.slogan-up{
margin-top: -20px;
font-family: var(--font-slogan);
color:#000000
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}