@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --font-placeholder: "Questrial", sans-serif;
  --font-slogan: "Pacifico", cursive;
  --color-button: #1a5445;
  --color-input: #e3e3e3;
  --color-placeholder: #a89d9d;
  --color-google: #df4b4b;
  --font-button-input: #ffffff;
  --font-link: #3b4ac9;
}
html,
body {
  height: 100%;
  margin: 0px;
}

body {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo p {
  margin-top: -3px;
  font-size: 20px;
  font-family: var(--font-slogan);
}

.inputlogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputlogin input {
  width: 65%;
  background-color: var(--color-input);
  border-radius: 25px;
  border-style: none;
  padding: 8px;
  margin-top: 8px;
}

.inputlogin input::placeholder {
  color: var(--color-placeholder);
  padding-left: 13px;
  font-family: var(--font-placeholder);
}

#warnUser {
  color: var(--color-google);
  display: flex;
  justify-content: center;
}

#warnNoExist {
  color: var(--color-google);
  display: flex;
  justify-content: center;
}

.buttonsign {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-placeholder);
  margin-top: 30px;
}

.buttonsign button {
  width: 65%;
  background-color: var(--color-google);
  color: var(--font-button-input);
  border-radius: 25px;
  border-style: none;
  padding: 8px;
}

.buttonsign button:first-child {
  background-color: var(--color-button);
}

.buttonsign a {
  margin-top: 5px;
  color: var(--font-link);
  text-decoration: none;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-bar {
  /* display: flex; */
  width: 100%;
  background-color: var(--color-button);
  /* padding: 10px; */
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  /* margin: 20px 0 0 0;    */
}

.footer-bar a {
  color: var(--color-input);
  text-decoration: none;
}

.footer-bar p {
  margin: 5px 0;
}

/* -------DESKTOP MAX 1200 Y 1800 */
@media screen and (min-device-width: 1025px) and (max-device-width: 1800px) {
  .inputlogin input {
    width: 30%;
  }

  .buttonsign button {
    width: 30%;
  }

  .footer-bar {
    width: 100%;
  }

  #warnUser {
    display: flex;
    justify-content: center;
  }
}

/*  table ipad pro */
@media screen and (min-device-width: 780px) and (max-width: 1025px) {
  header {
    height: 500px;
  }

  .logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50%;
    justify-content: center;
  }

  .logo img {
    width: 400px;
  }

  .logo p {
    margin-top: -3px;
    font-size: 30px;
  }

  .inputlogin input {
    width: 30%;
    padding: 1%;
  }

  .buttonsign button {
    width: 30%;
    padding: 1%;
  }

  #formLogin {
    font-size: 30px;
  }

  input {
    font-size: 30px;
  }

  .footer-bar {
    width: 100%;
  }

  #warnUser {
    display: flex;
    justify-content: center;
  }
}
