@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --font-placeholder: "Questrial", sans-serif;
  --font-slogan: "Pacifico", cursive;
  --color-button: #1a5445;
  --color-input: #e3e3e3;
  --color-placeholder: #a89d9d;
  --color-google: #df4b4b;
  --font-button-input: #ffffff;
  --font-link: #3b4ac9;
}
html,
body {
  height: 100%;
  margin: 0px;
}

body {
  width: 100%;
  overflow-x: hidden;
  height: auto;
  font-family: var(--font-placeholder);
}

.section-timeline-view {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head-logo-user-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.head-logo-user-container img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.head-logo-user-container p {
  color: var(--color-button);
  font-family: var(--font-placeholder);
  margin-top: 0;
}

.container-logo-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-head {
  display: flex;
  align-items: center;
  width: 55%;
  justify-content: space-between;
}

.post-timeline-container {
  display: flex;
  flex-direction: column;
  padding: 25px 20px 20px 20px;
}

.head-post-timeline-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profile-container {
  display: flex;
  align-items: center;
  width: 55%;
  justify-content: space-between;
}

.user-profile-container img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.card-post-container {
  background: aquamarine;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-card {
  border-bottom: 1px solid #ddd;
  position: relative;
}

.header-card img {
  width: 90vw;
  display: flex;
  border-radius: 25px 25px 0 0;
}

#descriptionCardDate {
  text-align: right;
}

.header-card p {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.description-card {
  background: #fbfbfb;
  padding: 10px;
}

.header-card,
.description-card {
  text-align: justify;
}

.container-like {
  display: flex;
  flex-direction: row;
}

.like-off {
  width: 20px;
  height: 20px;
}

.like-on {
  width: 20px;
  height: 20px;
  display: none;
}
