@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --font-placeholder: "Questrial", sans-serif;
  --font-slogan: "Pacifico", cursive;
  --color-menu-button: #0b2849;
  --color-button: #1a5445;
  --color-input: #e3e3e3;
  --color-placeholder: #a89d9d;
  --color-google: #df4b4b;
  --font-button-input: #ffffff;
  --font-link: #3b4ac9;
  --color-border: #000000;
}

.menu-container {
  display: none;
  flex-direction: row-reverse;
  position: fixed;
  bottom: 0;
  /*width: 340px;*/
  margin-bottom: 25px;
}

.hamburger {
  padding: 15px 15px;
  display: flex;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  background-color: var(--color-menu-button);
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 100%;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--font-button-input);
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  padding-top: 13px;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: var(--font-button-input);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
nav ul {
  width: 100%;
  /* background-color: var(--color-menu-button); */
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: all 1s ease-in-out;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #252323;
  border-radius: 20px;
  height: 25px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 235, 204, 0.97);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

nav ul li img {
  text-decoration: none;
  color: inherit;
  border-radius: 20%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li:hover {
  background-color: #ffffff;
}

.menu-bars {
  width: 100%;
  background-color: #005c48;
  text-align: right;
  box-shadow: border-box;
  padding: 20px 0px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.menu-bars .fas {
  margin-right: 20px;
}

@media screen and (max-width: 812px) {
  nav ul {
    max-height: 0px;
    position: fixed;
    bottom: 4.5em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 105%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu-bars {
    display: block;
    position: fixed;
    bottom: 0;
  }

  .showing {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 4.5em;
    margin-bottom: 25px;
    width: 300px;
  }
}
